{
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "extends": "opentable",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-unused-vars": "warn"
  }
}
